.example-spacer {
    flex: 1;
}

.mat-sidenav-container {
    height: 100%;
    .mat-sidenav {
        width: 250px;
        .mat-toolbar {
            background-color: inherit;
        }
    }
    .mat-sidenav-content {
        .mat-toolbar {
            position: sticky;
            z-index: 1;
            top: 0;
        }
    }
}
